.navbar {
  background-color: white;
  font-family: Ambiant;
}

.navbar > .container {
  /* background-color: red; */
  margin-top: 0;
}

.tui-full-calendar-time-schedule-content, .tui-full-calendar-time-schedule-content-time {
  border-color: lightgrey !important;
  font-weight: 400;
}

strong {
  font-weight: 900;
  /* font-size: 0.8rem; */
}
