.industry-cards {
  display: flex;
  flex-wrap: wrap;
}

.industry-card .image-wrapper {
  max-width: 70%;
  display: block;
  cursor: pointer;
}

.industry-card .image-wrapper img {
  max-width: 100%;
}
