.poster-buttons {
  font-family: "Ambiant";
}

.content {
  min-height: calc(100vh - 206.02px);
}

.aspect-ratio {
  position:relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
}

.video-stream {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
