{% set active_page = "Demos" %}
{% set page_title = "Late Breaking Demos" %}
{% extends "base.html" %}

{% block content %}

<div class="">
  <div class="text-center">
  <div class="btn-group btn-group-toggle filter_option">
    <label
      class="btn btn-outline-secondary"
      data-tippy-content="Search for papers titles"
    >
      <input
        type="radio"
        name="options"
        value="1"
        autocomplete="off"
      />
      One
    </label>
    <label
      class="btn btn-outline-secondary"
      data-tippy-content="Search for papers with specific keywords"
    >
      <input
        type="radio"
        name="options"
        value="2"
        autocomplete="off"
      />
      Two
    </label>
    <label
      class="btn btn-outline-secondary"
      data-tippy-content="Search for papers from specific authors"
    >
      <input type="radio" name="options" value="3" autocomplete="off" />
      Three
    </label>
    <label
      class="btn btn-outline-secondary active"
      data-tippy-content="Search for papers from specific authors"
    >
      <input type="radio" name="options" value="" autocomplete="off" />
      X
    </label>
  </div>
</div>
</div>

<div class="music-cards row mt-3"></div>

<script src="static/js/little_helpers.js"></script>
<!-- <script src="static/js/lazy_load.js"></script> -->
<script src="static/js/persistor.js"></script>
<script src="static/js/music.js"></script>
<script>
  $(document).ready(function () {
    start();
  });
</script>

{% endblock %}
