{% set active_page = "Industry" %}
{% set page_title = "Industry" %}
{% extends "base.html" %}

{% block content %}

<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".industry-info-modal">Large modal</button> -->

<div style="display: flex; justify-content: center;" class="btn-toolbar" role="toolbar">
  <div class="btn-group btn-group-toggle filter_option">
    <label
      class="btn btn-outline-secondary active"
      data-tippy-content="Search for industry presentations for session 7"
    >
      <input
        type="radio"
        name="options"
        value="7"
        autocomplete="off"
      />
      7
    </label>
    <label
      class="btn btn-outline-secondary active"
      data-tippy-content="Search for industry presentations for session 8"
    >
      <input
        type="radio"
        name="options"
        value="8"
        autocomplete="off"
      />
      8
    </label>
    <label
      class="btn btn-outline-secondary"
      data-tippy-content="Search for industry presentations for all sessions"
    >
      <input type="radio" name="options" value="" autocomplete="off" />
      X
    </label>
  </div>
  <!-- <div class="btn-group ml-3">
    <a href="{{config.industry_program_url}}" class="btn btn-primary mr-3">{% include 'slack_svg.html' %} {{config.industry_program_channel}}</a>
  </div> -->
</div>

<!-- <div class="m-3">
{{industry_top | markdown}}
</div> -->

<div class="industry-cards row mt-3"></div>

<!-- <hr/> -->

<!-- <div class="m-3">
{{industry_bottom | markdown}}
</div> -->

<script src="static/js/little_helpers.js"></script>
<!-- <script src="static/js/lazy_load.js"></script> -->
<!-- <script src="static/js/persistor.js"></script> -->
<script src="static/js/industry.js"></script>
<script>
  $(document).ready(function () {
    start();
  });
</script>

{% endblock %}
