{% set active_page = "Music" %}
{% set page_title = "Music" %}
{% extends "base.html" %}

{% block content %}

<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".music-info-modal">Large modal</button> -->

<div style="display: flex; justify-content: center;" class="btn-toolbar" role="toolbar">
  <!-- <div class="btn-group mr-3">
    <button style="display: flex;" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target=".music-info-modal">
      <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
        <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"></path>
        <circle cx="8" cy="4.5" r="1"></circle>
      </svg>
    </button>
  </div> -->
  <div class="btn-group btn-group-toggle filter_option">
    <label
      class="btn btn-outline-secondary"
      data-tippy-content="Search for papers titles"
    >
      <input
        type="radio"
        name="options"
        value="1"
        autocomplete="off"
      />
      One
    </label>
    <label
      class="btn btn-outline-secondary"
      data-tippy-content="Search for papers with specific keywords"
    >
      <input
        type="radio"
        name="options"
        value="2"
        autocomplete="off"
      />
      Two
    </label>
    <label
      class="btn btn-outline-secondary"
      data-tippy-content="Search for papers from specific authors"
    >
      <input type="radio" name="options" value="3" autocomplete="off" />
      Three
    </label>
    <label
      class="btn btn-outline-secondary active"
      data-tippy-content="Search for papers from specific authors"
    >
      <input type="radio" name="options" value="" autocomplete="off" />
      X
    </label>
  </div>
</div>

<div class="m-3">
{{music_top | markdown}}
</div>

<div class="music-cards row mt-3"></div>

<hr/>
<div class="m-3">
{{music_bottom | markdown}}
</div>

<script src="static/js/little_helpers.js"></script>
<!-- <script src="static/js/lazy_load.js"></script> -->
<!-- <script src="static/js/persistor.js"></script> -->
<script src="static/js/music.js"></script>
<script>
  $(document).ready(function () {
    start();
  });
</script>

{% endblock %}
