{% set page_title = music.content.title %}
{% extends "base.html" %}

{% block head %}

{{ super() }}
<meta name="citation_title" content="{{music.content.title}}" />
<meta name="citation_author" content="{{music.content.first_name}} {{music.content.last_name}}" />
<meta name="citation_publication_date" content="{{config.citation_date}}" />
<meta name="citation_conference_title" content="{{config.tagline|striptags|title}}" />
<meta name="citation_inbook_title" content="{{config.proceedings_title}}" />
<meta name="citation_abstract" content="{{music.content.abstract}}" />

{% endblock %}

{% block content %}

<p>Rendered</p>


<!-- <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.3.200/build/pdf.min.js"></script>
<script src="static/js/pdf_render.js"></script> -->
<!-- <script src="static/js/poster.js"></script> -->

</script>






{% endblock %}
