{% set page_title = paper.content.title %}
{% extends "base.html" %}

{% block head %}

{{ super() }}
<meta name="citation_title" content="{{paper.content.title}}" />
{% for author in paper.content.authors %}
<meta name="citation_author" content="{{author}}" />
{% endfor %}
<meta name="citation_publication_date" content="{{config.citation_date}}" />
<meta name="citation_conference_title" content="{{config.tagline|striptags|title}}" />
<meta name="citation_inbook_title" content="{{config.proceedings_title}}" />
<meta name="citation_abstract" content="{{paper.content.abstract}}" />
{% for keyword in paper.content.keywords %}
<meta name="citation_keywords" content="{{keyword}}" />
{% endfor %}
<meta name="citation_pdf_url" content="{{paper.content.pdf_url | default("")}}" />

{% endblock %}

{% block content %}

<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
      {{paper.id}} - {{paper.content.title}}
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      {% for author in paper.content.authors %}
      <a href="papers.html?filter=authors&search={{author}}" class="text-muted"
        >{{author}}</a
      >{{ "," if not loop.last }}
      {% endfor %}
    </h3>
    <p class="card-text text-center">
      <span class="">Keywords:</span>
      {% for keyword in paper.content.keywords %}
      <a
        href="papers.html?filter=keywords&search={{keyword}}"
        class="text-secondary text-decoration-none"
        >{{keyword}}</a
      >{{ "," if not loop.last }}
      {% endfor %}
    </p>
    {% if paper.content.channel_url and config.paper_day_release >= paper.content.day | int %}
      <a href="{{paper.content.channel_url}}" class="btn btn-primary mr-3">{% include 'slack_svg.html' %} {{paper.content.channel_name}}</a>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <div class="poster-buttons btn-group btn-group-toggle mb-3" data-toggle="buttons">
      <button class="card-link btn btn-outline-primary" data-toggle="collapse" type="button" data-target="#details">
        Abstract
      </button>
      <button class="card-link btn btn-outline-primary" data-toggle="collapse" type="button" data-target="#paper">
        Paper
      </button>
      <button class="card-link btn btn-outline-primary" data-toggle="collapse" type="button" data-target="#poster">
        Poster
      </button>
      <button class="card-link btn btn-outline-primary" data-toggle="collapse" type="button" data-target="#video">
        Video
      </button>
      <!-- {% if paper.content.code != blank %}
      <a href="{{paper.content.code}}" target="_blank" class="card-link">
        Code
      </a>
      {% endif %} -->
    </div>
  </div>
</div>
<div class="poster-content">
  <div id="details" class="pp-card m-3 collapse">
    <div class="card-body">
      <div class="card-text">
        <div id="abstractExample">
          <span class="font-weight-bold">Abstract:</span>
          {{paper.content.abstract}}
        </div>
      </div>
      <p></p>
    </div>
  </div>
  <div id="paper" class="collapse">
    {% if config.paper_embeds %}
    <button class="fullscreen-button btn btn-primary mb-3">Fullscreen</button>
    <iframe class="fullscreen-iframe" src = "static/camera_ready_papers_wo_num/{{ paper.id }}.pdf#embedded=true" width='100%' height='500px' allowfullscreen webkitallowfullscreen></iframe>
    {% endif %}
  </div>
  <div id="poster" class="collapse">
    {% if config.poster_embeds %}
    <button class="fullscreen-button btn btn-primary mb-3">Fullscreen</button>
    <iframe class="fullscreen-iframe" src = "static/posters/{{ paper.id }}.pdf#embedded=true" width='100%' height='500px' allowfullscreen webkitallowfullscreen></iframe>
    {% endif %}
  </div>
  <div id="video" class="collapse">
    <!-- {{ components.section("Video Stream") }} -->

    <!-- <div class="aspect-ratio">
      <iframe class="video-stream" src="//player.bilibili.com/player.html?aid=712007829&bvid=BV1mD4y1d7iM&cid=235970292&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" width="550" height="281"> </iframe>
    </div> -->

    <!-- <div class="aspect-ratio">
      <iframe class="video-stream" width="560" height="315" src="https://www.youtube.com/embed/_dOP36kWDyo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div> -->

    <!-- <div class="aspect-ratio">
      <video class="video-stream" width="560" height="315" controls>
        <source src="static/video/member_search_demo.mov">
      </video>
    </div> -->
  </div>
</div>


<!-- <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.3.200/build/pdf.min.js"></script>
<script src="static/js/pdf_render.js"></script> -->
<script src="static/js/poster.js"></script>
<script>
    // $(document).ready(() => {
    //     // render first page of PDF to div
    //     // PDF name can be bound to variable -- e.g. paper.content.poster_link
    //     initPDFViewer("{{paper.poster_pdf | default(config.default_poster_pdf)}}",'#pdf_view');
    // })
    // var thePdf = null;
    // var scale = 1;
    //
    // PDFJS.getDocument(url).promise.then(function(pdf) {
    //     thePdf = pdf;
    //     viewer = document.getElementById('pdf-viewer');
    //
    //     for(page = 1; page <= pdf.numPages; page++) {
    //       canvas = document.createElement("canvas");
    //       canvas.className = 'pdf-page-canvas';
    //       viewer.appendChild(canvas);
    //       renderPage(page, canvas);
    //     }
    // });
    //
    // function renderPage(pageNumber, canvas) {
    //     thePdf.getPage(pageNumber).then(function(page) {
    //       viewport = page.getViewport(scale);
    //       canvas.height = viewport.height;
    //       canvas.width = viewport.width;
    //       page.render({canvasContext: canvas.getContext('2d'), viewport: viewport});
    // });
    // }

    // $(document).ready(function(){
    //   $('.chameleon').chameleon({
		// 		 responsive: true,
		// 		 showMarkers: true,
		// 		 showCarousel: true,
    //          showDownloadPanel: true,
    //      	 chameleonContext: {
		// 		     "title": "{{ paper.content.title }}",
    //      		  "html5Setup" :{
    //      		      "sources": [
    //      		         {
    //      		            "file": "http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4",
    //      		            "type": "video/mp4"
    //      		         }
    //      		      ]
    //      		   },
    //      		   "download": {
    //      		   		"slides": {
    //      		   			"url": "https://github.com/wingkwong/jquery-chameleon/archive/1.3.0.zip",
    //      		   			"title": "Download Slides"
    //      		   		},
    //      		   		"video": {
    //      		   			"url": "http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4",
    //      		   			"title": "Download Video"
    //      		   		},
    //      		   		"transcript": {
    //      		   			"url": "https://raw.githubusercontent.com/wingkwong/jquery-chameleon/1.3.0/README.md",
    //      		   			"title": "Download Transcript"
    //      		   		}
    //      		   },
    //      		   "slides":[
    //      		      {
    //      		         "time":"00:00:00",
    //      		         "img":"https://dummyimage.com/600x400/000/fff&text=1",
    //      		         "title": "Lorem ipsum dolor sit amet",
    //      		         "alt": "Dummy alt text"
    //      		      },
    //      		      {
    //      		         "time":"00:00:30",
    //      					"title": "consectetur adipiscing elit",
    //      		         "img":"https://dummyimage.com/600x400/000/fff&text=2"
    //      		      },
    //      		      {
    //      		         "time":"00:00:45",
    //      					"title": "ed do eiusmod tempor incididunt ",
    //      		         "img":"https://dummyimage.com/600x400/000/fff&text=3"
    //      		      },
    //      		      {
    //      		         "time":"00:01:08",
    //      					"title": "abore et dolore magna aliqua",
    //      		         "img":"https://dummyimage.com/600x400/000/fff&text=4"
    //      		      },
    //      		      {
    //      		         "time":"00:02:09",
    //      					"title": "Quis autem vel eum iure reprehenderit",
    //      		         "img":"https://dummyimage.com/600x400/000/fff&text=5"
    //      		      },
    //      		      {
    //      		         "time":"00:03:12",
    //      					"title": "qui dolorem ipsum quia dolo",
    //      		         "img":"https://dummyimage.com/600x400/000/fff&text=6"
    //      		      },
    //      		      {
    //      		         "time":"00:03:45",
    //      					"title": "quasi architecto",
    //      		         "img":"https://dummyimage.com/600x400/000/fff&text=7"
    //      		      },
    //      		      {
    //      		         "time":"00:04:18",
    //      					"title": "Sed ut perspiciatis unde",
    //      		         "img":"https://dummyimage.com/600x400/000/fff&text=8"
    //      		      },
    //      		      {
    //      		         "time":"00:05:20",
    //      					"title": "At vero eos et accusamus et iusto odio",
    //      		         "img":"https://dummyimage.com/600x400/000/fff&text=9"
    //      		      },
    //      		      {
    //      		         "time":"00:05:41",
    //      					"title": "Lorem ipsum dolor sit amet",
    //      		         "img":"https://dummyimage.com/600x400/000/fff&text=10"
    //      		      },
    //      		      {
    //      		         "time":"00:06:23",
    //      					"title": "Ut enim ad minima veniam",
    //      		         "img":"https://dummyimage.com/600x400/000/fff&text=11"
    //      		      },
    //      		      {
    //      		         "time":"00:06:54",
    //      					"title": "oluptate velit esse qu",
    //      		         "img":"https://dummyimage.com/600x400/000/fff&text=12"
    //      		      },
    //      		      {
    //      		         "time":"00:07:25",
    //      					"title": "esse cillum dolore eu",
    //      		         "img":"https://dummyimage.com/600x400/000/fff&text=13"
    //      		      },
    //      		      {
    //      		         "time":"00:07:46",
    //      					"title": "sunt in culpa qui o",
    //      		         "img":"https://dummyimage.com/600x400/000/fff&text=14"
    //      		      },
    //      		      {
    //      		         "time":"00:08:28",
    //      					"title": "tempor incididunt ut",
    //      		         "img":"https://dummyimage.com/600x400/000/fff&text=15"
    //      		      },
    //      		      {
    //      		         "time":"00:09:29",
    //      					"title": "Lorem ipsum dolor sit amet",
    //      		         "img":"https://dummyimage.com/600x400/000/fff&text=16"
    //      		      }
    //      		   ]
    //      		}
    //      	});
    //      });

</script>






{% endblock %}
